.calculator-container {
  width: 500px;
  margin: 50px auto;
  padding: 20px 20px;
  border: 1px solid #ccc;
  border-radius: 18px;
  background-color: #1a1919;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.calculatorApp {
  color: #4af3eb;
  text-align: center;
}

.calculator-display {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  font-size: 2.5rem;
  text-align: right;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #5f5e5e;
}

.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.calculator-buttons button {
  padding: 15px;
  font-size: 1.4rem;
  color: #4af3eb;
  border: 1px solid #ccc;
  border-radius: 11px;
  background-color: #252525;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.calculator-buttons button:hover {
  background-color: #dcdcdc;
  color: #000;
}
