.poll-creator {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #141414;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 3rem;
}

.poll-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.poll-options {
  margin-bottom: 20px;
}

.poll-button {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  background-color: #7100b3;
  color: white;
  cursor: pointer;
}

.poll-button:hover {
  background-color: #7100b370;
}

.poll {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.poll-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.poll-info-box {
  background-color: #1e1e1e;
  padding: 1.5rem;
  margin: 1.5rem 0 2.5rem;
  border-radius: 10px;
  border: 1px solid #7100b3;
  box-shadow: 0px 4px 12px rgba(113, 0, 179, 0.3);
  text-align: left;
  color: #d3d3d3;
}

.poll-info-title {
  font-size: 1.4rem;
  color: #b478ff;
  margin-bottom: 1rem;
}

.poll-info-list {
  list-style-type: disc;
  padding-left: 1.5rem;
  line-height: 1.6;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.poll-info-list li {
  margin-bottom: 0.5rem;
}

.poll-info-note {
  font-size: 1rem;
  font-style: italic;
  color: #cfa3ff;
}
