.selfie-camera {
  text-align: center;
}

.selfie-camera-title {
  font-size: 2.3rem;
  letter-spacing: 2px;
  color: #4af3eb;
  text-shadow: 2px 2px 5px #000, -2px -2px 5px #000, 2px -2px 5px #000,
    -2px 2px 5px #000;
}

.camera-container {
  position: relative;
}

.video {
  width: 640px;
  height: 480px;
  border: 2px solid #023333;
  box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.5), 5px 5px 10px rgba(0, 0, 0, 0.5),
    -5px 5px 10px rgba(0, 0, 0, 0.5), 5px -5px 10px rgba(0, 0, 0, 0.5);
}

.controls {
  margin: 20px 0;
}

.start-stop-buttons {
  background-color: #4af3eb;
  color: #000;
  font-size: 1.2rem;
  margin-right: 20px;
  border: 2px solid #023333;
  box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.5), 5px 5px 10px rgba(0, 0, 0, 0.5),
    -5px 5px 10px rgba(0, 0, 0, 0.5), 5px -5px 10px rgba(0, 0, 0, 0.5);
}

.start-stop-buttons:hover {
  background-color: #4af3eb65;
  border: 2px solid #c2fcfc;
  color: #fff;
}

.capture-button {
  background-color: #4af3eb;
  color: #000;
  font-size: 1.2rem;
  margin-right: 20px;
  border: 2px solid #023333;
  box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.5), 5px 5px 10px rgba(0, 0, 0, 0.5),
    -5px 5px 10px rgba(0, 0, 0, 0.5), 5px -5px 10px rgba(0, 0, 0, 0.5);
}
.capture-button:hover {
  background-color: #4af3eb65;
  border: 2px solid #c2fcfc;
  color: #fff;
}

.download-images-button {
  background-color: #4af3eb;
  font-size: 1.2rem;
  color: #000;
  border: 2px solid #023333;
  box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.5), 5px 5px 10px rgba(0, 0, 0, 0.5),
    -5px 5px 10px rgba(0, 0, 0, 0.5), 5px -5px 10px rgba(0, 0, 0, 0.5);
}

.download-images-button:hover {
  background-color: #4af3eb65;
  border: 2px solid #c2fcfc;
  color: #fff;
}

.filters button {
  margin: 5px;
}

.filters {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.filter-buttons {
  background-color: #4af3eb;
  color: #000;
  font-size: 1.2rem;
  border: 2px solid #023333;
  box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.5), 5px 5px 10px rgba(0, 0, 0, 0.5),
    -5px 5px 10px rgba(0, 0, 0, 0.5), 5px -5px 10px rgba(0, 0, 0, 0.5);
}

.filter-buttons:hover {
  background-color: #4af3eb65;
  border: 2px solid #c2fcfc;
  color: #fff;
}

.grayscale {
  filter: grayscale(100%);
}

.sepia {
  filter: sepia(100%);
}

.invert {
  filter: invert(100%);
}

.blur {
  filter: blur(5px);
}

.brightness {
  filter: brightness(150%);
}

.contrast {
  filter: contrast(200%);
}

.hue-rotate {
  filter: hue-rotate(90deg);
}

.saturate {
  filter: saturate(200%);
}

.none {
  filter: none;
}

.image-gallery {
  margin-top: 20px;
  text-align: center;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
}

.gallery-item img {
  width: 100%;
  height: auto;
  border: 2px solid #023333;
  box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.5), 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
