nav {
  background-color: #333;
  padding: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  display: inline;
}

nav ul li a,
nav ul li button {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #555;
  border: none;
  cursor: pointer;
}

nav ul li a:hover,
nav ul li button:hover {
  background-color: #777;
}
