nav {
  background-color: #333;
  padding: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul li {
  display: inline;
}

nav ul li a,
nav ul li button {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #555;
  border: none;
  cursor: pointer;
}

nav ul li a:hover,
nav ul li button:hover {
  background-color: #777;
}

input[type="text"] {
  padding: 5px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #777;
  color: #fff;
}
