.final-test {
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.final-test button {
  background: #f44336;
  color: white;
  padding: 10px;
  border: none;
  margin-top: 10px;
  border-radius: 5px;
}

.final-test button:hover {
  background: #d32f2f;
}
