.home-page {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-color: var(--color-background);
}

.home-content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(8, 7, 5, 0.8);
  color: var(--color-titles-text);
  font-family: "Poppins", sans-serif;
  padding: 0 20px;
  max-width: 800px;
  margin: 0 auto;
}

.home-heading {
  font-size: 2.8rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-titles-text);
}

.home-text {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--color-accent-primary);
}

.home-description {
  font-size: 1.1rem;
  margin-bottom: 2.5rem;
  text-align: center;
  max-width: 600px;
  color: var(--color-titles-text);
}

.home-button-container {
  display: flex;
  gap: 1rem;
}

.button {
  font-size: 1.25rem;
  padding: 0.75rem 2rem;
  border-radius: 5px;
  color: var(--color-white);
  border: none;
  cursor: pointer;
  margin-bottom: 1rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
  text-decoration: none;
  text-align: center;
  display: inline-block;
}

.button.primary {
  background-color: var(--color-card-button);
}

.button.secondary {
  background-color: var(--color-accent-primary);
}

.button.primary:hover {
  background-color: var(--color-accent-primary);
  transform: scale(1.05);
}

.button.secondary:hover {
  background-color: var(--color-accent-secondary);
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .home-heading {
    font-size: 2rem;
  }

  .home-text {
    font-size: 1.2rem;
  }

  .home-description {
    font-size: 1rem;
    max-width: 90%;
  }

  .button {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
  }
}
