.profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  color: #d3d3d3;
  background-color: #1e1e1e;
  font-family: "Arial", sans-serif;
  min-height: 100vh;
}

.main-title {
  font-size: 3.5rem;
  color: #4af3eb;
  letter-spacing: 4px;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;
}

.profile-welcome {
  text-align: center;
  margin-bottom: 30px;
}

.profile-welcome-title {
  font-size: 2.5rem;
  color: #66c0f4;
  letter-spacing: 1.2px;
}

.profile-welcome-message {
  font-size: 1.2rem;
  color: #d3d3d3;
  letter-spacing: 1.2px;
}

.edit-title {
  text-align: center;
  color: #4caf50;
  font-size: 2.2rem;
  letter-spacing: 1.2px;
}

.game-stats-title {
  color: #c4a1e0;
  font-size: 2.2rem;
  text-align: center;
  letter-spacing: 1.2px;
}

.edit-info-input {
  color: #66c0f4;
}

.profile-section-description {
  font-size: 1.2rem;
  color: #d3d3d3;
  margin-bottom: 20px;
  text-align: center;
  letter-spacing: 1.2px;
}

.profile-header,
.profile-form,
.game-stats-container,
.user-comments-section,
.user-posts-section,
.account-deletion-section {
  width: 100%;
  max-width: 800px;
  background-color: #2a2a2a;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
}

.profile-info h2 {
  font-size: 1.8rem;
  color: #f9fd1adc;
  text-align: center;
}

.email {
  color: #66c0f4;
  letter-spacing: 1.2px;
}

.bio,
.game-section p,
.game-section ul,
.sentiment-analysis p {
  color: #bbbbbb;
  letter-spacing: 1.2px;
}

.game-section h4 {
  color: #6fb3d2;
  font-size: 1.2rem;
  letter-spacing: 2px;
  text-align: center;
}

.profile-form input,
.profile-form textarea {
  background-color: #333;
  color: #d3d3d3;
  border: 1px solid #444;
  border-radius: 4px;
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 12px;
}

.profile-form button,
.confirm-delete-button,
.cancel-button,
.delete-button {
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.profile-form button {
  background-color: #4caf50;
  color: #fff;
  border: none;
}

.delete-button {
  background-color: #e0245e;
  color: #fff;
  border: 1px solid #fd8db0;
}

.delete-user-info {
  font-size: 1.2rem;
  text-align: center;
  letter-spacing: 1.2px;
}

.profile-warning-title {
  font-size: 1.3rem;
  font-weight: 900;
  text-align: center;
  color: #ffa5c2;
  letter-spacing: 2.3px;
}

.delete-button:hover {
  background-color: #f05c5c;
}

.modal-content {
  background-color: #2a2a2a;
  color: #d3d3d3;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}

.confirm-delete-button {
  background-color: #e0245e;
  color: #fff;
}

.cancel-button {
  background-color: #444;
  color: #d3d3d3;
  border: 1px solid #676;
}

.expandable-heading {
  color: #66c0f4;
  cursor: pointer;
  margin-top: 20px;
}

.comment-card,
.post-card {
  background-color: #2a2a2a;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  color: #d3d3d3;
  margin-top: 10px;
}
